---
import { site } from '~/setting'

const { class: className } = Astro.props
---

<aside class:list={[
  'fixed z-100 bottom-0 w-100vw max-h-60vh overflow-auto translate-y-100% transition-transform bg-strong text-text shadow-md',
  'md:(w-80px h-100vh max-h-100vh translate-y-0 bg-secondary text-text:70 translate-none shadow-none)',
  'xl:(w-18vw)',
  className,
]}>
  <ul class:list={[
    'h-full flex flex-col items-center',
    'md:(justify-center)',
  ]}>
    {site.navigation.map(({ title, path, icon }) => (
      <li class="py-4 text-4">
        <a href={path} title={title} class:list={['block', 'md:(hidden)', 'xl:(block)']}>{title}</a>
        <a href={path} title={title} class:list={[site.iconMap[icon], 'hidden', 'md:(block text-6)', 'xl:(hidden)']}></a>
      </li>
    ))}
  </ul>
</aside>
