---
import ThemeSwitchButton from '~/components/ThemeSwitchButton.astro'
import { site } from '~/setting'
import { getPath } from '~/utils/path'

const { class: className } = Astro.props
---

<aside class:list={[
  'fixed z-100 left-0 top-0 bottom-0 h-100dvh overflow-auto overscroll-contain',
  'lt-md:(w-60vw translate-x--100% transition-all bg-strong shadow-md)',
  'md:(w-80px sticky bg-secondary)',
  'xl:(w-20%)',
  'component_site-side',
  className,
]}>
  <ul class:list={[
    'h-full flex flex-col justify-center items-center',
  ]}>
    {site.navigation.map(({ title, icon, id }) => (
      <li class:list={[
        'py-4 site-opacity',
        'md:(hover:opacity-100)',
      ]}>
        <a href={getPath(id)} title={title} class:list={['text-4 block', 'md:(hidden)', 'xl:(block)']}>{title}</a>
        <a href={getPath(id)} title={title} class:list={[site.iconMap[icon], 'hidden', 'md:(block text-6)', 'xl:(hidden)']}></a>
      </li>
    ))}

    <li class:list={[
      'py-4 site-opacity text-6',
      'md:(hover:opacity-100)',
      'component_site-side__search',
    ]}>
      <button class="i-ic:baseline-search"></button>
    </li>

    <li class:list={[
      'py-4 site-opacity text-6',
      'md:(hover:opacity-100)',
    ]}>
      <ThemeSwitchButton></ThemeSwitchButton>
    </li>
  </ul>

  {site.avatar && <a href={getPath('about')} class:list={[
    'block absolute bottom-4 left-0 right-0 m-auto w-30%',
    'md:(w-8) xl:(w-30%)',
  ]}><img src={site.avatar} alt="avatar" class="w-full rounded-10%" /></a>}
</aside>

<script>
  const siteSearch = document.querySelector('#component_site-search')
  const searchBtn = document.querySelector('.component_site-side__search')

  searchBtn.addEventListener('click', () => {
    siteSearch.classList.remove('hidden')
  })
</script>
