---
import ThemeSwitchButton from '~/components/ThemeSwitchButton.astro'
import { site } from '~/setting'
import { getPath } from '~/utils/path'

const { class: className } = Astro.props
---

<aside class:list={[
  'fixed z-100 left-0 bottom-0 w-[calc(100vw-2rem-4rem)] h-fit max-h-60dvh overflow-auto translate-x--100% transition-all bg-strong text-text shadow-md',
  'md:(w-80px h-100vh max-h-100vh translate-none bg-secondary shadow-none)',
  'xl:(w-18vw)',
  'component_site-side',
  className,
]}>
  <ul class:list={[
    'h-full flex flex-col items-center',
    'md:(justify-center)',
  ]}>
    {site.navigation.map(({ title, icon, id }) => (
      <li class:list={[
        'py-4 site-opacity',
        'md:(hover:opacity-100)',
      ]}>
        <a href={getPath(id)} title={title} class:list={['text-4 block', 'md:(hidden)', 'xl:(block)']}>{title}</a>
        <a href={getPath(id)} title={title} class:list={[site.iconMap[icon], 'hidden', 'md:(block text-6)', 'xl:(hidden)']}></a>
      </li>
    ))}

    <li class:list={[
      'py-4 site-opacity',
      'md:(hover:opacity-100 text-6)',
    ]}>
      <ThemeSwitchButton></ThemeSwitchButton>
    </li>
  </ul>

  <a href={getPath('about')} class:list={[
    'hidden',
    'md:(block absolute bottom-4 left-0 right-0 m-auto w-8)',
    'xl:(w-30%)',
  ]}><img src={site.avatar} alt="avatar" class="w-full rounded-10%"></a>
</aside>
