---
import { t } from 'i18next'
import ThemeSwitchButton from '~/components/ThemeSwitchButton.astro'
import { site } from '~/setting'
import { getPath } from '~/utils/path'

const { class: className } = Astro.props
---

<aside site-mask class:list={[
  'fixed z-100 left-0 top-0 bottom-0 h-100dvh overflow-auto overscroll-contain',
  'lt-sm:(site-mask translate-x--100% transition-all)',
  'sm:(sticky)',
  'component_site-side',
  className,
]}>
  <div
    class:list={[
      'lt-sm:(site-mask__content !inset-0 !right-unset w-60vw)',
      'sm:(h-full)',
    ]}
  >
    <ul class:list={[
      'h-full flex flex-col justify-center items-center',
    ]}>
      {site.navigation.map(({ icon, id }) => (
        <li class:list={[
          'py-4 site-opacity',
          'sm:(hover:opacity-100)',
          'component_site-side_list_item',
        ]}>
          <a href={getPath(id)} title={t(`nav.${id}`)} class:list={['text-4 block', 'sm:(hidden)', 'lg:(block)']}>{t(`nav.${id}`)}</a>
          <a href={getPath(id)} title={t(`nav.${id}`)} class:list={[site.iconMap[icon], 'hidden', 'sm:(block text-6)', 'lg:(hidden)']}></a>
        </li>
      ))}

      <li class:list={[
        'py-4 site-opacity text-6',
        'sm:(hover:opacity-100)',
        'component_site-side_list_item component_site-side_list_item__close',
        'component_site-side__search',
      ]}>
        <button class="i-ic:baseline-search" title={t('nav.search')}></button>
      </li>

      <li class:list={[
        'py-4 site-opacity text-6',
        'sm:(hover:opacity-100)',
        'component_site-side_list_item',
      ]}>
        <ThemeSwitchButton></ThemeSwitchButton>
      </li>
    </ul>

    {site.avatar && <a href={getPath('about')} class:list={[
      'block absolute bottom-4 left-0 right-0 m-auto w-30%',
      'sm:(w-8) lg:(w-30%)',
    ]}><img src={site.avatar} alt="avatar" class="w-full rounded-10%" /></a>}
  </div>
</aside>

<script>
  const siteSearch = document.querySelector('.component_site-search') as HTMLElement

  const siteSide = document.querySelector('.component_site-side') as HTMLElement
  const listItems = document.querySelectorAll('.component_site-side_list_item')
  listItems.forEach((item) => {
    item.addEventListener('click', (e: HTMLElementEvent<HTMLElement>) => {
      if (e.currentTarget.classList.contains('component_site-side_list_item__close')) {
        siteSide.classList.contains('!translate-none') && siteSide.classList.remove('!translate-none')
      }

      // search btn
      if (e.currentTarget.classList.contains('component_site-side__search')) {
        siteSearch.classList.toggle('!block')
      }
    })
  })
</script>
