---
import { getCollection } from 'astro:content'
import PostHead from '~/components/PostHead.astro'
import DefaultLayout from '~/layouts/Default.astro'
import PostTOC from '~/components/PostTOC.astro'
import PostTag from '~/components/PostTag.astro'
import { getDate } from '~/utils/time'
import { getPath } from '~/utils/path'

let data
let render
let headings
let Content
let slug

if (Astro.props.frontmatter) { // used in md
  ;({ frontmatter: data, headings } = Astro.props)
}
else {
  ;({ data, render, slug } = Astro.props)

  ;({ Content, headings } = await render())
}

const postEntries = (await getCollection('blog'))
  .filter(entry => entry.data.series && (entry.data.series === data.series))
  .sort((a, b) => {
    const aTime = new Date(a.data.modifiedTime ?? a.data.publishedTime).getTime()
    const bTime = new Date(b.data.modifiedTime ?? b.data.publishedTime).getTime()
    return bTime - aTime
  })
---

<DefaultLayout>
  <PostHead slot="head" {...data} />

  <div
    class:list={[
      'relative',
      'flex flex-row',
      'layout_post',
    ]}
    data-pagefind-body
  >
    <article class:list={[
      'markdown', // unocss typography
      'mx-auto !max-w-[clamp(70%,90%,65ch)] w-[clamp(70%,90%,65ch)]',
      'md:(px-8)',
    ]}>
      <section class="not-markdown text-center">
        <h1 class="site-title">{data.title}</h1>

        <div class="my-4 site-opacity text-4 grid grid-cols-[1fr_1fr] justify-center [&>span:nth-child(odd)]:(pr-2 text-right) [&>span:nth-child(even)]:(pr-2 text-left)">
          <span>Author:</span>
          <span>{data.author}</span>

          <span>Last updated:</span>
          <span>{getDate(data.modifiedTime || data.publishedTime)}</span>
        </div>

        <p class="font-italic site-opacity">{data.description}</p>

        <ul class="flex flex-row flex-wrap justify-center items-center text-3 [&_li::after]:(content-[''])">
          {data.tags.map(tag => (
            <PostTag tag={tag} border={false} />
            <li class="w-0.4em h-0.4em mx-1 rounded-50% bg-text:20 last:hidden"></li>
          ))}
        </ul>

        {data.series && <details>
          <summary class="cursor-pointer py-4">{data.series} ({postEntries.length})</summary>

          <ul class="flex flex-col">
            {postEntries.map(entry => (
              <a
                class:list={[
                  'my-2',
                  { 'font-bold': slug === entry.slug, 'font-normal': slug !== entry.slug },
                ]}
                href={getPath('post', entry.slug)}
                title={entry.data.title}
              >{entry.data.title}{entry.slug}{}</a>
            ))}
          </ul>
        </details>}

        <hr class="my-4">
      </section>

      <slot>
        {Content ? <Content /> : null}
      </slot>
    </article>

    <aside site-mask class:list={[
      'flex-1',
      'lt-md:(site-mask leading-8 hidden)',
      'md:(sticky top-0 h-100dvh text-text:70)',
      'layout_post__toc',
    ]}>
      <div
        class:list={[
          'lt-md:(site-mask__content)',
          'md:(h-full)',
        ]}
      >
        <PostTOC
          range={[2, 4]}
          number={true}
          line={true}
          isWrapper={true}
          headings={headings.map(heading => ({ ...heading, title: heading.text, url: `#${heading.slug}` }))}
        />
        <button
          class:list={[
            'site-mask__close',
            'md:(hidden)',
          ]}
        >Close</button>
      </div>
    </aside>

  </div>
</DefaultLayout>

<script>
  const toc = document.querySelector('.component_post-toc') as HTMLElement
  toc.addEventListener('click', (event: HTMLElementEvent<HTMLElement>) => {
    if (
      event.target
      && event.target instanceof HTMLAnchorElement
      && event.target.hash.startsWith('#')
    ) {
      (document.querySelector('.layout_post__toc') as HTMLElement).classList.remove('!block')

      event.preventDefault()
      // do something
      try {
        // 解码这一步会有失败的可能, 这里使用 try catch 进行捕获
        const hash = decodeURIComponent(event.target.hash)
        const target = document.querySelector(hash) as HTMLElement
        Promise.resolve().then(() => {
          toc.classList.add('no-active')
          tocItemsMap.forEach(item => item.classList.remove('active'))
          ;(event.target.parentElement as HTMLElement).classList.add('active')

          const scrollEndHandler = () => {
            toc.classList.remove('no-active')
            window.removeEventListener('scrollend', scrollEndHandler)
          }
          window.addEventListener('scrollend', scrollEndHandler)

          window.scrollTo({
            top: target?.offsetTop - 20,
            behavior: 'smooth',
          })
        })
        history.pushState(null, '', event.target.hash)
      }
      catch (error) {
        console.error(error)
      }
    }
  })

  const tocItems = document.querySelectorAll(`.component_post-toc summary`);
  const tocItemsMap = new Map();

  const observer = new IntersectionObserver(entries => {
    if (toc.classList.contains('no-active')) return

    entries.forEach(entry => {
      if (entry.isIntersecting) {
        tocItemsMap.forEach(item => item.classList.remove('active'));
        tocItemsMap.get(entry.target).classList.add('active');
      }
    });
  }, {
    root: null,
    threshold: 0.5,
  });

  tocItems.forEach(item => {
    const targetId = item.querySelector('a')?.getAttribute('href')?.slice(1);

    if (targetId === undefined) return

    const targetElement = document.getElementById(targetId);

    if (targetElement) {
      observer.observe(targetElement);
      tocItemsMap.set(targetElement, item);
    }
  });
</script>
